/* 
0 - 600PX:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Where normal styles apply (Desktp-First approach)
1800px:         Big desktop
*/
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
 */
/*----- ANIMATIONS ----- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*----- BASE+NORMALIZE ----- */
::selection {
  background-color: #e50050;
  color: #ededed; }

/*----- TYPOGRAPHY ----- */
/*----- UTILITIES ----- */
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-extra-large {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-top-large {
  margin-top: 4rem !important; }

/*----- HEADER LAYOUT ----- */
/*----- FOOTER LAYOUT ----- */
/*----- NAVIGATION LAYOUT ----- */
/*----- HOME PAGE----- */
